{% extends 'main.html' %}
{% block content %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Disaster Management</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      #acc{
        color: blue;
      }
      #acc:hover{
        color: brown;
      }
      body {
        background-image: url('static/dis3.jpg'); 
        background-repeat: no-repeat;
        background-color: black;
      }
      h1 {
        font-family: 'Arial, Helvetica, sans-serif';
        letter-spacing: 1px;
      }
      p {
        font-family: 'Arial, Helvetica, sans-serif';
        font-size: large;
        color: white;
        letter-spacing: 1px;
      }
      .container.marketing {
        margin-top: 230px;
      }
      /* Add spacing between rows */
      .container.marketing .row {
        margin-bottom: 70px;
      }
      /* Add spacing between columns */
      .container.marketing .col-lg-6 {
        margin-bottom: 70px;
      }
      /* Remove margin from last row */
      .container.marketing .row:last-child {
        margin-bottom: 0;
      }
     
      .container.marketing .row:last-child .col-lg-6:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body >

    <!-- <br><br><br><br><br><br><br> -->
    <main role="main">

    
      


       <!-- Modal -->
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


      </div>
    </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        
        <div class="row">
          <div class="col-lg-6">
            <center>
            <img class="rounded-circle" src="https://i.gifer.com/embedded/download/93Ut.gif" alt="Generic placeholder image" width="200" height="220">
          </center>
            <h2>About Disaster</h2>
            <p style="text-align: justify;">An Disaster is a sudden and violent shaking of the ground, caused by the movement of tectonic plates beneath the Earth's surface. These seismic events can range from minor tremors to devastating quakes that cause widespread destruction. Earthquakes are most commonly associated with fault lines, where stress accumulates until it is released as seismic waves. Modern technology, such as seismographs, helps scientists detect and measure earthquakes, improving preparedness and response strategies.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
          <center>
            <img class="rounded-circle" src="https://i.pinimg.com/originals/6f/65/23/6f65234bc845a785740913cd41a0c444.gif" alt="Generic placeholder image" width="200" height="220">
          </center>
            <h2>Algorithm</h2>
            <p style="text-align: justify;">Random Forest is a popular machine learning algorithm that belongs to the supervised learning technique. It can be used for both Classification and Regression problems in ML. It is based on the concept of ensemble learning to improve the performance of the model.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-6">
          <center>
            <img class="rounded-circle" src="https://miro.medium.com/v2/resize:fit:1336/1*M7W_h805deiOiyO2BMXdxg.gif" alt="Generic placeholder image" width="200" height="220">
          </center>
            <h2>Efficiency</h2>
            <p style="text-align: justify;">Random Forest is a  Machine Learning algorithm that uses a Neighbouring data framework. In prediction problems involving unstructured data. After modelling our data, the Accuracy is <b>99%.</b> So far we achieved a Good accuracy. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <center>
              <img class="rounded-circle" src="https://gifdb.com/images/high/ground-separating-earthquake-cartoon-ywa8gdihpfqz9avu.gif" alt="Generic placeholder image" width="200" height="220">
            </center>
            <h2>About dataset</h2>
            <p style="text-align: justify;">We have used the data set available in Kaggle - Earthquake Management. After Classifying the data, Preprocessin and performed the Exploratory Data Analysis. This data set contains about 1000 records of data in two categories.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          
          
        </div><!-- /.row -->




        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">How it will works</h2>
            <p style="text-align: justify;" class="lead">The project entails creating an  web-based system for  Disaster Management system. It involves developing compact,  Earthquake parameters like tempearture , gyroscope vibrations , accelerometer. Algorithms and machine learning models are employed for  analysis, accurately identifying earth quakes. A web-based dashboard provides healthcare professionals and non professionals  with visualizations, alerts for detected earthquakes, and historical data. The system is designed to be scalable, reliable, and user-friendly, with integration capabilities for existing environmental systems. Testing, validation, documentation, and training are crucial steps for successful deployment in reading of Historical data.</p>
          </div>
        </div>

        

      </div><!-- /.container -->
      <br><br>
      <!-- <section class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Disaster Management</h1>
          <p class="lead">Disaster Management is one of the most
critical health problems due to its increasing prevalence. In this
paper, we aim to test the ability of machine learning algorithms
for the prediction of Disaster Managemente using the smallest
subset of features</p>
          <!-- <p>
            <a href="{{ url_for('fetalPage') }}" class="btn btn-primary my-2">Check out the Project</a>
          </p> -->
        </div>
      </section> -->

      
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

{% endblock %}